.cell {
  width: 90px;
  height: 90px;
  background: rgb(245, 245, 245);
  margin: 3px 4px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.empty {
  visibility: hidden;
}

.clickable {
  cursor: pointer;
}